<h1>These are some cool students:</h1>

<ul>
  <% @students.each do |student| %>
    <li style="margin-bottom: 10px; font-size: 20px"> <%= link_to student.name, student_path(student) %> </li>
  <% end %>
</ul>


<%= link_to "Create a new Student", "/students/new" %>